/*App Component*/
.app {
  box-shadow: 0px 5px 17px 0px rgba(50, 50, 50, 0.73);
  border-radius: 5px;
}

/*Chatbox Component*/
.panel-body {
  height: 250px;
  overflow-y: scroll;
  background: whitesmoke;
}
.panel-body .message {
  margin-top: 5px;  
}
.panel-body .message .text {
  border-radius: 5px;
  border: 1px solid lightgrey;
  background-color: white;
  padding: 3px;
  margin: 0 5px;
}
.panel-body .me {
  text-align: right;
  padding-top: 5px;
}
.panel-body .me .text {
  background-color: #d9edf7;
  border-color: #337ab7;
}

/*Friendlist Component*/
.friends {
  padding: 5px;
}